{% if collection.metafields.custom.vendors.value %}
    <div class="vendor-profile">
        <div class="vendor-image">
            <img loading="eager" width="80" height="80" src={{ collection.metafields.custom.vendors.value.image.value.preview_image.src | json }} />
        </div>
        <h1 class="vendor-title">
            {{ collection.metafields.custom.vendors.value.title }}
        </h1>
        @{{ collection.metafields.custom.vendors.value.slug }}
        <p class="vendor-description">
            {{ collection.metafields.custom.vendors.value.description }}
        </p>
        {% if block.settings.socials == true %}
            Social:
            <div class="vendor-socials">
                {% for url in collection.metafields.custom.vendors.value.social.value %}
                    <a href="{{ url }}" target="_blank" class="social-link">
                        {{ url }}
                    </a>
                    <br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <style>
        .vendor-profile {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #e0e0e0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: #fff;
        }

        .vendor-image img {

            display: block;
            border-radius: 50%;
        }

        .vendor-title {
            font-size: 24px;
            font-weight: 600;
            color: #333;
            text-align: left;
            margin-bottom: 20px;
        }

        .vendor-description {
            font-size: 16px;
            color: #555;
            line-height: 1.5;
            text-align: justify;
        }
    </style>
{% endif %}

{% schema %}
{
  "name": "t:blocks.vendor-collection.heading",
  "target": "section",
  "settings": [
    {
      "type": "select",
      "id": "socials",
      "label": "Show socials?",
      "options": [
        {
          "value": "true",
          "label": "Yes"
        },
        {
          "value": "false",
          "label": "No"
        }
      ],
      "default": "true"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}

